<div class="main-content">
<div class="loader" *ngIf="pagedItems.length==0">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
</div>
<div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let project of pagedItems">
                    <div class="card text-center" >
                        <div class="card-header" data-background-color="orange">
                        <h4 class="title">{{getTitle()}}</h4>
                        <h5 class="title" *ngIf="getSortBy()=='percentage.funded'">{{project['percentage.funded']}}%</h5>
                        <p class="title" *ngIf="getSortBy()=='end.time'">Ended on {{project['end.time'] | date:'short'}}
                        </p>
                        </div>
                        <div class="container-fluid">
                        <h5 class="title">{{ project.title }}</h5>
                        <div class="row">
                         <p class="col">Pledged Amount   : ${{project['amt.pledged']}}</p>
                            </div>                          
                          <div class="row">
                            <button type="button" class="btn btn-info" data-toggle="collapse" [attr.data-target] = "'#1'+project['amt.pledged']">Short Description</button>
                            </div>
                            <div class="row collapse" [attr.id]="'1'+project['amt.pledged']" >
                                    <p >{{project['blurb']}}</p>
                        </div> 
                            
                        <div class="row">
                            <h3>By</h3>
                            </div>
                            <div class="row">
                            
                           <p class="title">{{project['by']}}</p>
                            
                        </div>

                          
                        <div class="row">
                            <h3>End Time</h3>
                            </div>
                            <div class="row">
                            
                           <p class="title">{{project['end.time'] |date:'medium'}}</p>
                            
                        </div> 
                       
                        <div class="row">
                                        <h3>Number of backers</h3>
                        </div>
                        <div class="row">               
                                     <p class="title">{{project['num.backers']}}</p>
                      </div> 
                        
                            </div>
                    <div class="card-footer">
                            <div class="stats">
                               <a [attr.href]="project.url" target="_blank"> <i class="material-icons">link</i> Url</a>
                               <a (click)="more(project)"><i class="material-icons">add</i>More</a>
                            </div>
                        </div>

                 </div>
            </div>
                    </div>
                <div class="row text-center">
                 <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-lg">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
                    </div>
            </div>
    
</div>
