<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header" data-background-color="red">
                <h2 class="title">Project Details</h2>
                <p class="category">{{ project.title }}</p>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Amount Pledged</h5>
                        <div class="alert alert-info">
                            <h4>${{project['amt.pledged']}}</h4>
                        </div>
                        <h5>Project By</h5>
                         <div class="alert alert-info">
                            <h4>{{project.by}}</h4>
                        </div>
                         <h5>Currency</h5>
                        <div class="alert alert-info">
                            <h4>${{project.currency}}</h4>
                        </div>
                         <h5>location</h5>
                        <div class="alert alert-info">
                            <h4>{{project.location}}</h4>
                        </div>
                          <h5>Percentage Funded(%)</h5>
                        <div class="alert alert-info">
                            <h4>{{project['percentage.funded']}}</h4>
                        </div>
                         <h5>Type</h5>
                        <div class="alert alert-info">
                            <h4>{{project.type}}</h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5>Blurb(short Description)</h5>
                        <div class="alert alert-info">
                            <h4>{{project['blurb']}}</h4>
                        </div>
                          <h5>Country</h5>
                         <div class="alert alert-info">
                            <h4>{{project.country}}</h4>
                        </div>
                          <h5>End time</h5>
                        <div class="alert alert-info">
                            <h4>{{project['end.time'] |date:'medium'}}</h4>
                        </div>
                          <h5>Number of backers</h5>
                        <div class="alert alert-info">
                            <h4>{{project['num.backers']}}</h4>
                        </div>
                         <h5>State</h5>
                        <div class="alert alert-info">
                            <h4>{{project.state}}</h4>
                        </div>
                    </div>
                </div>
                <br>
                <br>

            </div>
        </div>
    </div>
</div>
